body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
}

input {
	font-family: "Source Sans Pro", sans-serif;
	border: 1px solid #000;
	display: block;
	width: 100%;
}

button {
	border: none;
	font-family: "Source Sans Pro", sans-serif;
	display: block;
	width: 100%;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	outline-width: 1px;
	outline-style: solid;
	box-sizing: border-box;
	border-top-width: 1px;
	border-top-style: solid;
}

a {
	text-decoration: none;
	color: #000;
}

#small-logo {
	font-size: 28px;
}

#large-logo {
	font-size: 64px;
}

#splash {
	margin-top: 20px;
	text-align: center;
}

#search-address-input {
	height: 60px;
	font-size: 24px;
	text-indent: 10px;
}

#flowers {
		position: fixed;
		bottom: 40px;
		height: 40px;
		left: 0;
		right: 0;
		background-image: url(../img/flowers.png);
		background-repeat: repeat-x;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	border-bottom: 1px solid #78a8ba;
	background-color: #bfd3db;
	line-height: 40px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	border-top: 1px solid #000;
	background-color: #efe8e4;
	line-height: 40px;
}

.logo {
	font-family: "Sacramento";
}

.large-button {
	height: 60px;
	font-size: 28px;
}

.button-primary {
	background-color: #f4cf19;
	border-bottom-color: #e2be0c;
	outline-color: #c1aa3a;
	border-top-color: #f2de79;
}

.button-secondary {
	background-color: #d5d9db;
	border-bottom-color: #c4c5c6;
	border-top-color: #edeeef;
	outline-color: #bbbbbc;
}

.centered-text {
	text-align: center;
}

.stacked-input {
	height: 40px;
	margin-bottom: 10px;
	font-size: 18px;
}